./obj/*
./obj_c/*
./libft/*.o
obj
obj_c
random.sh
.idea
.idea/*
libft/libft.a
libft/*.o
ft_printf/*.o
ft_printf/libftprintf.a
problem_100
checker
push_swap
libftprintf.a
libft.a
pyviz.py
qq
supertest.sh
checker.dSYM
push_swap_visualizer